bleach==1.4.2
defusedxml==0.4.1
dj-database-url==0.4.1
Django==1.8.13
django-braces==1.8.1
django-oauth-toolkit==0.10.0
django-redis-cache==1.6.5
djangorestframework==3.3.3
djangorestframework-bulk==0.2.1
html5lib==0.9999999
oauthlib==1.1.1
psycopg2==2.6.1
PyJWT==1.4.0
python-openid==2.2.5
python-social-auth==0.2.19
python3-openid==3.0.10
redis==2.10.5
requests==2.10.0
requests-oauthlib==0.6.1
six==1.10.0
whitenoise==3.0
