Django==1.8.7
PyJWT==1.4.0
Twisted==15.4.0
argparse==1.2.1
autobahn==0.10.9
dj-database-url==0.3.0
django-braces==1.8.1
django-oauth-toolkit==0.9.0
django-redis-cache==1.6.4
django-rest-framework-social-oauth2==1.0.2
djangorestframework==3.3.1
oauthlib==1.0.3
psycopg2==2.6.1
python-openid==2.2.5
python-social-auth==0.2.13
redis==2.10.5    #referred to as redis_py in the docs
requests==2.8.1
requests-oauthlib==0.5.0
six==1.10.0
txaio==2.1.0
whitenoise==2.0.6
wsgiref==0.1.2
zope.interface==4.1.3
