{% extends 'base.html' %}

{% block title %}{% if user and user.is_authenticated %}Hello, {{ user.get_full_name | default:user.username }}{% else %}UTubeU{% endif %} {% endblock %}

{% block content %}
    <p>
    <ul>
        {% if user and not user.is_anonymous %}
            <li>
                <a>Hello {{ user.get_full_name|default:user.username }}!</a>
            </li>
            <li>
                <a href="{% url 'viewer:logout' %}?next={% url 'viewer:login' %}">Logout</a>
            </li>
        {% else %}
            <li>
                <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
            </li>
            <li>
                <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
            </li>
            <li>
                <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter</a>
            </li>
        {% endif %}
    </ul>
    </p>

    {% if user and user.is_authenticated %}
        {% for chatroom in chatrooms %}
            <div class="btn btn-info">
                Enter {{ chatroom.name }}
            </div>
        {% endfor %}
        {% if number_owned < 2 %}
            <div id="create-button" class="btn btn-success" data-toggle="collapse" data-target="#room-maker">
                Create a chatroom.
            </div>
            <div id="room-maker" class="collapse">
                <form action="{% url 'viewer:login' %}">
                    <div class="form-row">
                        <label>Name:</label>
                        <input type="text" name="chatroom_name">
                    </div>
                    <div class="form-row">
                        <label>Description</label>
                        <textarea name="description" rows="2"></textarea>
                    </div>
                </form>


            </div>
        {% endif %}
    {% endif %}
{% endblock %}