{% extends 'base.html' %}
{% block css %}
    <style>
        #chattertext {
            height: 200px;
            overflow-y: scroll;
            border: 1px solid black;
            background-color: white;
        }

        #dock {
            background-color: floralwhite;
            border: solid 2px black;
            border-radius: 5px;
        }
        #search_results {
            background-color: floralwhite;
            border: 1px solid black;
        }


        .individual_result, .suggested {
            border:solid 1px black;
        }
    </style>

{% endblock %}



{% block content %}
    <div class="row">
        <div id="dock" class="col-md-4">

        </div>
        <div class="h2 col-md-3">
            {{ chatroom.name }}
        </div>
        <div class="h3 col-md-5">
            {{ chatroom.description }}
        </div>
    </div>


    <div class="row">
        <div class="col-md-3 embed-responsive embed-responsive-4by3">
            <iframe id="video" class="embed-responsive-item"></iframe>
        </div>

        <div class="col-md-3">
            <div id="search_results"></div>
            <textarea class="col-md-12" id="videosearchbox" rows="1"></textarea>

            <div id="search_button" class="btn btn-success col-md-12">Search Videos!</div>
        </div>

        <div class="col-md-3">

            <div id="chattertext">

            </div>
            <textarea class="col-md-12" id="chatterbox" rows="2" placeholder="Chat!"></textarea>

            <div id="sendbutton" class="btn btn-success col-md-12">Send</div>
        </div>

        <div id="suggestion_list" class="col-md-3"></div>


    </div>


{% endblock %}


{% block js %}

    <script>
            function initialize() {
                gapi.client.setApiKey('AIzaSyAvvnsZ3V67P23Td-0mD7BuuN42eoN7nNE');
                gapi.client.load('youtube', 'v3').then(function () {
                    afterLoad();
                })
            }


            function afterLoad() {
                $('#search_button').click(function (evt) {
                    gapi.client.youtube.search.list({
                        q: $('#videosearchbox').val(),
                        part: 'snippet',
                        type: 'video',
                        videoEmbeddable: 'true'
                    }).execute(function (response) {
                        $('#search_results').children().remove();
                        for(i in response.result.items) {
                            var data = response.result.items[i];
                            var video_id = data.id.videoId;
                            var image_url = data.snippet.thumbnails.default.url;
                            var title = data.snippet.title;
                            var description = data.snippet.description;
                            $('#search_results').append('<div class="individual_result" data-video-id="'+ video_id +'"><img src="'
                                    +image_url+'"></img><p class="h3">' + title + '</p><p class="description">'+description+'</p>');
                        }
                        $('.individual_result').prepend('<div class="make_suggestion btn btn-success pull-right">Suggest It!</div>');
                        addSuggestionClickListeners();
                    })
                });
            }

            var websocket = new WebSocket('ws://' + window.location.host + '/ws?chatroom-id=' + "{{ chatroom.pk }}&user-name=" + "{{ user.username }}");
            function addSuggestionClickListeners(){
                $('.make_suggestion').click(function(evt){
                    var video_id = $(this).parent().attr('data-video-id');
                    var chatroom_id = "{{ chatroom.pk }}";
                    var username = "{{ user.username }}";
                    var title = $(this).parent().children('p.h3').text();
                    var description = $(this).parent().children('p.description').text()
                    var image_url = $(this).parent().children('img').attr('src');

                    websocket.send(JSON.stringify({chatroom_id: chatroom_id, youtube_value: video_id, username: username,
                                                title: title, description: description, image_url: image_url}));

                })
            }

            function addVoteClickListeners(){
                $('.vote_btn').click(function (){
                    var button_clicked = $(this);
                    var video_url = button_clicked.parent().attr('data-video-id');
                    websocket.send(JSON.stringify({'chatroom_id': "{{ chatroom.pk }}",
                                     'vote': true, 'youtube_value': video_url}));
                    button_clicked.remove();
                })
            }

            $('#sendbutton').click(function () {
                if($('#chatterbox').val()!="") {
                    websocket.send(JSON.stringify({
                        'chatroom_id': "{{ chatroom.pk }}",
                        'username': "{{ user.username }}",
                        'message': $('#chatterbox').val()
                    }));
                    $('#chatterbox').val("");
                }
            });

            websocket.onmessage = function (event) {
                var input = JSON.parse(event.data);
                if (input.usernames != null) {
                    var usernames = input.usernames;
                    $('#dock').children().remove();
                    for (var i = 0; i < usernames.length; i++) {
                        $('#dock').append('<div class="h3">' + usernames[i] + '</div>');
                    }
                }

                if (input.message != null) {
                    if (input.username != null) {
                        $('#chattertext').append('<p>' + input.username + " : " + input.message + '</p>');
                    } else {
                        $('#chattertext').append('<p class="text-right">' + "You : " + input.message + '</p>');
                    }
                    $('#chattertext').scrollTop($('#chattertext')[0].scrollHeight);

                }
                if(input.youtube_value != null && input.percentage==null && input.start==null){
                    if(input.username !=null) {
                        var username = input.username;
                    }else {
                        var username = "You";
                    }
                        var html_to_insert = '<div class="suggested" data-video-id="'+ input.youtube_value +'"><img src="'
                                    +input.image_url+'"></img><div class="btn btn-success pull-right vote_btn">Vote!</div><p class="pull-right">'+
                                username+'</p><p class="h3">' + input.title + '</p><p class="description">'+input.description+'</p>';
                    $('#suggestion_list').append(html_to_insert);
                    addVoteClickListeners()
                }
                if(input.percentage !=null){
                    var youtube_value = input.youtube_value;
                    console.log(youtube_value);
                    $('.suggested[data-video-id="'+youtube_value+'"]').prepend('<div class="well">'+input.percentage+'</div>');

                }
                if(input.start != null){
                    var youtube_value = input.youtube_value;
                    $('.suggested[data-video-id="'+youtube_value+'"]').remove();
                }

                if(input.last_ten !=null){
                    for(i in input.last_ten){
                        var pair_user_message= JSON.parse(input.last_ten[i]);
                        if(pair_user_message.username=="{{ user.username }}") {
                            var username="You";
                        }else{
                            var username=pair_user_message.username;
                        }
                        $('#chattertext').append('<p>' + username + " : " + pair_user_message.msg + '</p>');
                    }
                    $('#chattertext').scrollTop($('#chattertext')[0].scrollHeight);
                }

                if(input.suggestion_list != null){
                    for(i in input.suggestion_list){
                        var suggestion = JSON.parse(input.suggestion_list[i]);
                        if(suggestion.username !=null) {
                        var username = suggestion.username;
                    }else {
                        var username = "You";
                    }
                        var html_to_insert = '<div class="suggested" data-video-id="'+ suggestion.youtube_value +'"><img src="'
                                    +suggestion.image_url+'"></img><div class="btn btn-success pull-right vote_btn">Vote!</div><p class="pull-right">'+
                                username+'</p><p class="h3">' + suggestion.title + '</p><p class="description">'+suggestion.description+'</p>'
                    $('#suggestion_list').append(html_to_insert);
                    }
                    addVoteClickListeners();
                }
            };



            window.onbeforeunload = function () {
                websocket.onclose = function () {
                };
                websocket.close(1000, "{{ chatroom.pk }}");
            };


            var player;

            function onYouTubeIframeAPIReady() {
                player = new YT.Player('player', {
                    events: {
                        'onReady': onPlayerReady,
                    }
                });
            }

            function onPlayerReady(event) {
                event.target.playVideo();
            }
    </script>
    <script src="https://apis.google.com/js/client.js?onload=initialize"></script>
{% endblock %}