{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block css %}
    {% endblock %}

</head>
<body>
    <nav>
        <div class="nav-wrapper dark-primary-color">
            <a href="#" class="brand-logo center">utubeu</a>
            <ul class="right">
            <li><a href="#" class="material-icons z-depth-1">power_settings_new</a></li>
            </ul>
        </div>
    </nav>


    {% block content %}
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
{% block js %}
{% endblock %}
</body>
</html>