{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'assets/plugins/owl-carousel/owl-carousel/owl.carousel.css' %}">
{% endblock %}

{% block title %}
    UtubeU--{{ chatroom.name }}
{% endblock %}
{% block content1 %}

    <div class="row">
        <div class="col s12 m4" alt-text="{{ chatroom.description }}">
            {{ chatroom.name }}
        </div>
    </div>

    <div class="row">
        <div class="video-container col s12 m6">
            <div id="video"></div>
        </div>
        <div class="col s12 m6">
            <div id="chattertext">
            </div>
            <div class="input-field">
                <label for="chatterbox">Chat!</label>
                <textarea class="materialize-textarea" id="chatterbox" rows="2"></textarea>

            </div>
            <div id="sendbutton" class="btn default-primary-color col s12 z-depth-2">Send</div>
        </div>
        <div class="col s12 m6">
            <div id="search_results"></div>

            <div class="input-field">
                <label for="videosearchbox">Search for videos.</label>
                <textarea class="materialize-textarea" id="videosearchbox" rows="1"></textarea>
            </div>

            <div id="search_button" class="btn default-primary-color col s12 z-depth-2">Search Videos!</div>
        </div>

        <div id="chatroom" data-chatroom="{{ chatroom.internal_identifier }}"></div>
    </div>
{% endblock content1 %}

{% block content %}
<!-- End Owl Clients v1 -->
    <div class="owl-clients-v1 owl-carousel owl-theme">
        <div class="item">
            <img src="{% static 'assets/img/demo.jpg' %}" alt="">
        </div>
        <div class="item">
            <img src="{% static 'assets/img/demo.jpg' %}" alt="">
        </div>
        <div class="item">
            <img src="{% static 'assets/img/demo.jpg' %}" alt="">
        </div>
        <div class="item">
            <img src="{% static 'assets/img/demo.jpg' %}" alt="">
        </div>
        <div class="item">
            <img src="{% static 'assets/img/demo.jpg' %}" alt="">
        </div>
        <div class="item">
            <img src="{% static 'assets/img/demo.jpg' %}" alt="">
        </div>
        <div class="item">
            <img src="{% static 'assets/img/demo.jpg' %}" alt="">
        </div>
        <div class="item">
            <img src="{% static 'assets/img/demo.jpg' %}" alt="">
        </div>
        <div class="item">
            <img src="{% static 'assets/img/demo.jpg' %}" alt="">
        </div>
        <div class="item">
            <img src="{% static 'assets/img/demo.jpg' %}" alt="">
        </div>
        <div class="item">
            <img src="{% static 'assets/img/demo.jpg' %}" alt="">
        </div>
    </div>

    <div class="owl-controls clickable">
        <div class="owl-pagination">
            <div class="owl-page active"><span class=""></span></div>
            <div class="owl-page"><span class=""></span></div>
        </div>
    </div>
</div>
<div class="service-info margin-bottom-60">
    <div class="container">
        <div class="headline-center-v2 headline-center-v2-dark margin-bottom-10">
            <h2>Features</h2>
            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="responsive-video video-outline">
                </div>
            </div><div class="col-md-6">
            <div id="chat-box">
                <p><span class="username">username</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id nisi augue. Maecenas eu risus ex. Pellentesque laoreet eros at erat lacinia tempus.</p>
                <p><span class="username">username</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id nisi augue. Maecenas eu risus ex. Pellentesque laoreet eros at erat lacinia tempus.</p>
                <p><span class="username">username</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id nisi augue. Maecenas eu risus ex. Pellentesque laoreet eros at erat lacinia tempus.</p>
                <p><span class="username">username</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id nisi augue. Maecenas eu risus ex. Pellentesque laoreet eros at erat lacinia tempus.</p>
                <p><span class="username">username</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id nisi augue. Maecenas eu risus ex. Pellentesque laoreet eros at erat lacinia tempus.</p>
                <p><span class="username">username</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id nisi augue. Maecenas eu risus ex. Pellentesque laoreet eros at erat lacinia tempus.</p>
                <p><span class="username">username</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id nisi augue. Maecenas eu risus ex. Pellentesque laoreet eros at erat lacinia tempus.</p>
                <p><span class="username">username</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id nisi augue. Maecenas eu risus ex. Pellentesque laoreet eros at erat lacinia tempus.</p>
                <p><span class="username">username</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id nisi augue. Maecenas eu risus ex. Pellentesque laoreet eros at erat lacinia tempus.</p>
                <p><span class="username">username</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id nisi augue. Maecenas eu risus ex. Pellentesque laoreet eros at erat lacinia tempus.</p>
                <p><span class="username">username</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id nisi augue. Maecenas eu risus ex. Pellentesque laoreet eros at erat lacinia tempus.</p>
            </div>
            <div id="chat-input">
                <input type="text">
            </div>
        </div>


        </div><!--/row-->
    </div>
</div>
{% endblock %}

{% block js %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="{% static 'assets/plugins/owl-carousel/owl-carousel/owl.carousel.js' %}"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="{% static 'assets/js/plugins/owl-carousel.js' %}"></script>

    <script src="{% static 'js/Example_WebSockets.js' %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            OwlCarousel.initOwlCarousel();
        });
    </script>

{% endblock %}