{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <style>
    </style>
{% endblock %}

{% block title %}
    UtubeU--{{ chatroom.name }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12 m4" alt-text="{{ chatroom.description }}">
            {{ chatroom.name }}
        </div>
    </div>

    <div class="row">
        <div class="video-container col s12 m6">
            <div id="video"></div>
        </div>
        <div class="col s12 m6">
            <div id="chattertext">
            </div>
            <div class="input-field">
                <label for="chatterbox">Chat!</label>
                <textarea class="materialize-textarea" id="chatterbox" rows="2"></textarea>

            </div>
            <div id="sendbutton" class="btn default-primary-color col s12 z-depth-2">Send</div>
        </div>
        <div class="col s12 m6">
            <div id="search_results"></div>

            <div class="input-field">
                <label for="videosearchbox">Search for videos.</label>
                <textarea class="materialize-textarea" id="videosearchbox" rows="1"></textarea>
            </div>

            <div id="search_button" class="btn default-primary-color col s12 z-depth-2">Search Videos!</div>
        </div>

        <div id="chatroom" data-chatroom="{{ chatroom.internal_identifier }}"></div>
    </div>

{% endblock %}


{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{% static 'js/Example_WebSockets.js' %}"></script>

{% endblock %}